<header class="header">
    <div class="container">
        <div class="grid">
            <div class="col">
                Signed in as {{user.email}}
            </div>
            <div class="col align-right">
                <a href="/app">Dashboard</a>
                <a href="/app/profile">My Profile</a>
                <a href="/user/logout">Logout</a>
            </div>
        </div>
    </div>
</header>