<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        {{{body}}}
    </div>
    <script id="initial-trans" type="text/javascript"  type="application/json">{{{transactions}}}</script>
    <script type="text/javascript" src="/javascripts/build/app.js"></script>
  </body>
</html>
