<!DOCTYPE html>
<html>
  <head>
    <title>FFXIV Marketing</title>
    {{> headRequired}}
  </head>
  <body>
    <div id="main">
        {{{body}}}
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    {{> analytics}}
  </body>
</html>
