<div class="container">
    <div class="grid">
        <div class="col">
            <h1>Welcome!</h1>
            <p>This site was created by @bahumba.</p>
            <a href="/user/new" class="button button-large">New User</a>
        </div>
        <div class="col">
            <h2>Existing User</h2>
            <form id="new-user-form" action="/user/authenticate" method="POST" autocomplete="on">
                {{#if message}}
                    {{#if success}}
                        <p class="form-success">{{message}}</p>
                    {{else}}
                        <p class="form-error">{{message}}</p>
                    {{/if}}
                {{/if}}
                <label for="user-email">
                    <span class="label-text">Email</span>
                    <input id="user-email" name="email" type="email" autofocus />
                </label>
                <label for="user-password">
                    <span class="label-text">Password</span>
                    <input id="user-password" name="password" type="password" />
                </label>
                <div class="grid grid-align-middle">
                    <div class="col">
                        <input type="submit" value="Submit" class="button-large" />
                    </div>
                    <div class="col align-right">
                        <a href="/user/reset">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>