<div class="container">
    <h1>Oh no, missing characters!</h1>
    <h3>It appears that you have not set up your characters and retainers yet.</h3>
    <p>In order to better track your progress, it required to add at least one character and one retainer, but feel free to add as many as you have.</p>
    <p>Visit <a href="/app/profile">My Profile</a> to get started.</p>
    <a class="button button-large" href="/app/profile">My Profile</a>
</div>