<div class="container">
    <div class="grid">
        <div class="col">
            <h2>Password Reset</h2>
            {{#if success}}
                <p>An email has been sent to <b>{{email}}</b></p>
                <p>Be sure to check your spam folder. Please allow a few minutes for the message to arrive.</p>
                <a href="/" class="button button-large">Login</a>
            {{else}}
                <p>You will receive an email with instructions on resetting your password.</p>
                <form id="password-reset-form" autocomplete="off" method="POST">
                    {{#if message}}
                        <p class="form-error">{{message}}</p>
                    {{/if}}
                    <label for="user-email">
                        <span class="label-text">Account Email</span>
                        <input id="user-email" name="email" type="email" value="{{user.email}}" autofocus />
                    </label>
                    <input type="submit" value="Submit" class="button-large" />
                </form>
            {{/if}}

        </div>
    </div>
</div>