
%btn {
  background-color: $button-bg;
  border: 0;
  color: $button-color;
  display: inline-block;
  font-weight: 700;
  &:hover, &:focus {
    background-color: $button-bg-hover;
  }
}

button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
  @extend %btn;
  &.button-large {
    padding: 8px 10px;
  }
  &.button-icon,
  &.button-edit,
  &.button-submit,
  &.button-delete {
    padding: 0;
    background-color: transparent;
    color: $button-bg;
    &:hover, &:active {
      color: $button-bg-hover;
    }
  }
}