
%btn {
  background-color: $color-secondary-2-0;
  border: 0;
  display: inline-block;
  color: $color-secondary-2-4;
  font-weight: 700;
  &:hover, &:focus {
    background-color: $color-secondary-2-2;
  }
}

button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
  @extend %btn;
  &.button-large {
    padding: 8px 10px;
  }
}