input[type=text],
input[type=email],
input[type=password] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $border-color;
  line-height: 18px;
  padding: 6px 4px;
  width: 100%;
  &:focus {
    border-color: $orange;
    color: $orange;
    outline: none;
  }
  &.invalid {
    border-color: $alert-red;
    color: $alert-red;
  }
}

input[type=checkbox] {
  @include appearance(none);
  background-color: transparent;
  border: 1px solid $gray-dark;
  height: 1em;
  width: 1em;
  &:focus {
    border-color: $orange;
    outline: $orange;
  }
  &:checked {
    background-color: $orange;
  }
}

form {
  h3 {
    margin-top: 35px;
    &:first-child {
      margin-top: 0;
    }
  }
  label {
    display: block;
    margin-bottom: 15px;
    .label-text {
      color: $color-subdued;
      display: inline-block;
      text-transform: uppercase;
    }
  }
  .form-error {
    background-color: $alert-red;
    border: 2px solid darken($alert-red, 10%);
    padding: 5px 8px;
  }
  .form-success {
    background-color: $alert-green;
    border: 2px solid darken($alert-green, 10%);
    padding: 5px 8px;
  }
}

@media (min-width: $breakpoint-mobile) {
  form {

  }
}