hr {
  background-color: $border-color;
  border: 0;
  display: block;
  height: 1px;
  margin: 10px 0;
  width: 100%;
  &.hr-small {
    margin: 5px 0;
  }
  &.hr-medium {
    margin: 10px 0;
  }
  &.hr-large {
    margin : 15px 0;
  }
  &.hr-x-large {
    margin : 20px 0;
  }
}