table {
  width: 100%;
  td, th {
    text-align: center;
    padding: 4px 6px;
    &:first-child {
      text-align: left;
    }
    &.tax {
      width: 65px;
    }
  }
  td {
    &.calc {
      background-color: $table-calc-bg;
      color: $table-calc-color;
    }
    &.col-delete {
      background: $table-calc-bg;
    }
    table {
      td {
        padding: 0;
      }
    }
  }
  tr {
    &.sold {
      background-color: $table-sold-bg;
      color: $table-sold-color;
    }
    &.new-transaction {
      border-bottom-width: 0 !important;
    }
  }
  thead {
    background-color: $table-head-bg;
    color: $table-head-color;
  }
  tbody {
    tr {
      &:nth-child(5n) {
        border-bottom: $table-border;
      }
    }
  }
  &.table-grouped {
    & > tbody {
      & > tr {
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom-width: 0;
        }
        & > td {
          vertical-align: top;
        }
      }
    }
  }
}