table {
  width: 100%;
  td, th {
    height: 42px;
    text-align: center;
    padding: 0 4px;
    &:first-child {
      text-align: left;
    }
    &.tax {
      width: 65px;
    }
  }
  td {
    &.calc {
      background-color: $table-calc-bg;
      color: $table-calc-color;
    }
    &.col-delete {
      background: $table-calc-bg;
    }
    &.input-col {
      position: relative;
      input[type=text],
      input[type=email],
      input[type=date],
      input[type=password] {
        display: block;
        width: 100% !important;
      }
      button,
      a.button,
      input[type=button],
      input[type=reset],
      input[type=submit] {
        float: right;
        margin-bottom: 10px;
      }
    }
    // nested elements
    table {
      td {
        padding: 0;
      }
    }
  }
  tr {
    &.sold {
      background-color: $table-sold-bg;
      color: $table-sold-color;
    }
    &.new-transaction {
      border-bottom-width: 0 !important;
    }
  }
  thead {
    background-color: $table-head-bg;
    color: $table-head-color;
  }
  tbody {
    tr {
      &:nth-child(5n) {
        border-bottom: $table-border;
      }
    }
  }
  &.table-grouped {
    & > tbody {
      & > tr {
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom-width: 0;
        }
        & > td {
          vertical-align: top;
        }
      }
    }
  }
}