// breakpoints

$breakpoint-mobile: 660px;


// colors
$white:           #E8EDE3;
$white-pure:      #FFFFFF;
$gray-light:      #DBE3D1;
$gray-medium:     #A7B0A9;
$gray-dark:       #40484E;
$black:           #1A1923;
$black-accent:    #0F0E15;
$blue:            #0F6F7B;
$blue-dark:       #09262E;
$blue-dark-2:     #141C27;
$orange: #ce8107;
$alert-red: #B12419;
$alert-green: #5C8829;


// helpers
$color-primary: $blue;
$color-subdued: $gray-dark;
$border-color: $gray-dark;
$border-radius: 6px;

// color assignments

$body-bg: $black;
$body-color: $white;

// links
$link-color: $orange;
$link-hover-color: lighten($link-color, 10%);

// header
$header-bg: $blue;
$header-border: 5px solid $blue-dark;
$header-nav-color: $gray-light;
$header-nav-hover-bg: darken($header-bg, 5%);
$header-nav-hover-color: $white-pure;

// tables
$table-border: 1px solid $black-accent;
$table-head-bg: $black-accent;
$table-head-color: $white;

$table-calc-bg: lighten($body-bg, 2%);
$table-calc-color: $gray-dark;

$table-sold-bg: transparent;
$table-sold-color: $gray-dark;

// buttons
$button-bg: $blue;
$button-color: darken($button-bg, 35%);
$button-color: $white;

$button-bg-hover: lighten($button-bg, 10%);
